body {
  background-color: #fff;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.NavList {
  display: flex;
  padding: 25px;
}
.NavListItem:not(:last-child) {
  margin-right: 30px;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
  display: flex;
  align-items: center;
  text-decoration: none;

  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
  }
}

.NavLink--active {
  color: darkcyan;
  .NavLink__icon {
    fill: darkcyan;
  }
}

h1 {
  padding: 15px 30px;
  text-transform: uppercase;
}
ul {
  padding-left: 30px;
}

.movie {
  &__card {
    display: flex;
    width: 50vw;
    margin-left: 20px;
    padding: 30px;
    border: 1px solid darkcyan;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }

  &__poster {
    display: block;
    width: 700px;

    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__detailsWrapper {
    padding: 30px;
  }
  &__additional {
    margin-left: 30px;
  }
  &__companies {
    display: flex;
    justify-content: space-between;
  }
  &__companiesLogo {
    width: auto;
    height: 50px;
  }
}

.search {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form {
    width: 50vw;
    margin: 0px 20px;
  }
  &__input {
    font-size: 22px;
    padding: 10px;
    border-radius: 6px;
    border-color: darkcyan;
    color: #008b8b;
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    &:focus {
      background-color: rgba(0, 139, 139, 0.1);
      border-color: rgba(0, 139, 139, 0.4);
      outline: 2px solid transparent;

      &::placeholder {
        color: rgba(112, 114, 114, 0.2);
      }
    }
    &::placeholder {
      color: rgba(0, 139, 139, 0.5);
    }
  }
  &__button {
    font-size: 22px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    border-color: darkcyan;
    color: darkcyan;
    align-self: center;
    &:hover,
    &:focus {
      background-color: darkcyan;
      color: white;
      .search__icon {
        fill: white;
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    align-self: center;
  }
  &__totalStats {
    display: flex;

    font-size: 20px;

    // margin: 10px 30px;
  }
  &__totalPages {
    margin-right: 20px;
  }
  &__totalResults {
    margin-right: 20px;
  }
}

// .FullMovieList {
//   display: flex;
//   flex-direction: column;
// }
.FullMovieLink {
  text-decoration: none;
  color: darkcyan;
  margin-right: 20px;
}

// ===SLIDER STYLES==========================
.slide-container {
  width: 85vw;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 15px;
}
.each-fade {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.TrendingMovie {
  // &__wrapper {
  //   justify-content: center;
  // }
  &__poster {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__movieTitle {
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 60px;
    background-color: rgba(0, 139, 139, 0.2);
  }
}

// ===END OF SLIDER STYLES===================

.NotFoundPage {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}

// ===================

.header {
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  display: flex;
  justify-content: space-between;
}

.languageSwitcher {
  margin-right: 30px;
  // align-self: center;
  font-size: 14px;
  border: 1px solid darkcyan;
  outline: 1px solid darkcyan;
  padding: 4px;
  // height: 20px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    fill: rgba(112, 114, 114, 0.7);
  }
}

//иконка не реагирует на изменение fill при focus
.languageSwitcher:focus .languageSwitcher__icon {
  fill: darkcyan;
  stroke: darkcyan;
}
