// =====!!!!!===все стили прописаны только для desktop===

body {
  background-color: #fff;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
.NavList {
  display: flex;
  padding: 15px;
}
.NavListItem:not(:last-child) {
  margin-right: 30px;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
  display: flex;
  align-items: center;
  text-decoration: none;

  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
  }
}

.NavLink--active {
  color: darkcyan;
  .NavLink__icon {
    fill: darkcyan;
  }
}

h1 {
  padding: 15px 30px;
  text-transform: uppercase;
}
ul {
  padding-left: 30px;
}

.movie {
  &__card {
    display: flex;
    width: 60vw;
    margin-left: 20px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid darkcyan;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__rates {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__overview {
    padding-right: 5px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__posterWrapper {
    width: 400px;
  }
  &__poster {
    width: 100%;

    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__detailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  &__outerlink {
    color: darkcyan;
  }
  &__companies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    // -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    // box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__companiesLogo {
    width: 100px;
    height: auto;
    margin-right: 30px;
    // align-self: center;
    // height: 50px;
  }
  &__countries {
    display: flex;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__country {
    margin-right: 30px;
  }
}

.search {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form {
    display: flex;
    width: 38vw;
    margin: 0px 20px;
  }
  &__input {
    font-size: 22px;
    padding: 10px;
    border-radius: 6px;
    border-color: darkcyan;
    color: #008b8b;
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    &:focus {
      background-color: rgba(0, 139, 139, 0.1);
      border-color: rgba(0, 139, 139, 0.4);
      outline: 2px solid transparent;

      &::placeholder {
        color: rgba(112, 114, 114, 0.2);
      }
    }
    &::placeholder {
      color: rgba(0, 139, 139, 0.5);
    }
  }
  &__button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    border-color: darkcyan;
    color: darkcyan;
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
    box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);

    &:hover,
    &:focus {
      background-color: darkcyan;
      color: white;
      .search__icon {
        fill: white;
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    align-self: center;
  }
  &__totalStats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
  }
  &__totalPages {
    margin-right: 20px;
  }
  &__totalResults {
    margin-right: 20px;
  }
}

// ===SLIDER STYLES==========================
.slide-container {
  width: 85vw;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 15px;
}
.each-fade {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.TrendingMovie {
  &__poster {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  &__movieTitle {
    //половина стилей не применяются
    //текст выпадает за карточку
    // width: 100%;
    // overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 60px;
    background-color: rgba(0, 139, 139, 0.2);
  }
}

// ===END OF SLIDER STYLES===================

.NotFoundPage {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}

// ===================

.header {
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  display: flex;
  justify-content: space-between;
}

.languageSwitcher {
  margin-right: 30px;
  // align-self: center;
  font-size: 14px;
  border: 1px solid darkcyan;
  outline: 1px solid darkcyan;
  padding: 4px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    fill: rgba(112, 114, 114, 0.7);
  }
}

//иконка не реагирует на изменение fill при focus
.languageSwitcher:focus .languageSwitcher__icon {
  fill: darkcyan;
  stroke: darkcyan;
}

// ===================

.cast__list {
  display: flex;
  flex-wrap: wrap;
  max-height: 88vh;
  overflow-y: hidden;
}
.actor {
  &__card {
    width: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid darkcyan;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 300px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  &__photo {
    width: 100%;
    height: auto;
  }
  &__name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__character {
    font-size: 12px;
    margin-bottom: 0;
  }
  &__info {
    flex-grow: 1;
  }
}

.goBackBtn {
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  margin-left: 20px;
  background-color: rgba(217, 242, 248, 0.5);
  padding: 8px;
  border: 1px solid darkcyan;
  color: darkcyan;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
  -moz-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
  box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);

  &:hover,
  &:focus {
    background-color: darkcyan;
    color: white;
  }

  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.FullMovieList {
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: 250px;
    float: left;
    margin-left: 60px;
    margin-top: 10px;
  }

  &__movieTitle {
    font-size: 16px;
    line-height: 2;
    color: darkcyan;
    font-family: inherit;
  }
  &__icon {
    fill: darkcyan;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

.loadMoreBtn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  width: auto;
  padding: 10px;
  margin-left: 20px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 8px;
  border-color: darkcyan;
  color: darkcyan;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 5px 5px 5px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 5px 5px -3px rgba(34, 60, 80, 0.2);
  &:hover,
  &:focus {
    background-color: darkcyan;
    color: white;
    .search__icon {
      fill: white;
    }
  }
}

.additional {
  margin: 10px 30px;

  &__tab {
    font-size: 12px;
    font-weight: 700;
    padding: 10px 50px;
    margin-left: 20px;
    text-transform: uppercase;
    align-self: center;
    border-radius: 10px 0 0 0;
    border: 1px solid darkcyan;
    color: darkcyan;
    -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.4);
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.4);

    &:hover,
    &:focus {
      background-color: darkcyan;
      color: white;
    }
  }
}

.sectionNoBottom {
  padding-top: 1rem;
  padding-bottom: 0;
}
.scrollUpBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border-color: darkcyan;
  color: darkcyan;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
  -moz-box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);
  box-shadow: 5px 5px 5px -3px rgba(0, 139, 139, 0.2);

  &:hover,
  &:focus {
    background-color: darkcyan;
    color: white;
  }
}

.reviews {
  &__list {
    margin-top: 20px;
    max-width: 70vw;
    max-height: 85vh;
    overflow-y: hidden;
  }
  &__title {
    text-transform: uppercase;
    font-size: 14px;
  }
  &__content {
    text-align: justify;
    font-size: 12px;
  }
}

.notification {
  margin-left: 30px;
  font-size: 18px;
}
